# **for integeintegers**

In [ ]:
a=12
b=6
c=a+b
print(c)
print(type(c))

18
<class 'int'>

In [ ]:
a=5
e=9
z=a-e
print(z)
print(type(z))

-4
<class 'int'>

**let's make in good formats**


*   here we can also add name with your answer

In [ ]:
a=16
b=79
c=a-b
print(f'substraction is{c}')
print(type(c))

substraction is-63
<class 'int'>

# **for Float**

In [ ]:
a=19.5
c=8.1
e=a+e
print(e)
print(type(e))

28.5
<class 'float'>

In [ ]:
A=5.9
B=15.9
C=194.56
D=A+B-C
print(D)
print(type(D))

-172.76
<class 'float'>

**let's make it in good format**
*  here we can also add name with your answer

In [ ]:
A=5.989
B=199.1
C=156.12
D=A+B-C
print(f'answer is {D}')
print(type(D))

answer is 48.968999999999994
<class 'float'>

# **For Boolean**

In [ ]:
A=19
B=16
C=A>B
print(C)
print(type(C))

True
<class 'bool'>

In [ ]:
A=159999853465
B=186913437693
D=21389769421
C=A>B>D
print(C)
print(type(C))

False
<class 'bool'>

In [ ]:
A=159999853465
B=186913437693
D=21389769421
C=A>B>D
print(f'The following condition is {C}')
print(type(C))

The following condition is False
<class 'bool'>

we can learn databases and addision , subtraction

# for addition subtraction division and multiplication

**Addition**

In [ ]:
A=12
B=61
C=A+B
print(C)

73

In [ ]:
A=127
B=596
C=A+B
print(f'addition is {C}')

addition is 723

Subtraction

In [ ]:
A=183
B=943
C=A-B
print(C)

-760

In [ ]:
A=945
B=62
C=94
D=A-B-C
print(f'subtraction is {D}')

subtraction is 789

multiplication

In [ ]:
A=11
B=6
C=A*B
print(C)

66

In [ ]:
A=15
B=10
C=A*B
print(f'multiplication is {C}')
print(type(C))

multiplication is 150
<class 'int'>

Division

In [ ]:
A=911
B=15
C=A/B
print(C)
print(type(C))

60.733333333333334
<class 'float'>

In [ ]:
A=900
B=20
C=A/B
print(f'division is {C}')

division is 45.0

for power

In [ ]:
A=2
B=3
C=A**B
print(C)

8

In [ ]:
A=5
B=2
C=A**B
print(f'{A} to the power {B} is {C} ')

5 to the power 2 is 25

In [ ]:
A=17
B=3
C=A%B
print(f' modulus is {C}')

 modulus is 2

In [ ]:

A=int(input(f'enter your: '))
if  A>=35:
    print('you are pass')
else:
    print('you are fail')

enter your: 12
you are fail