Square of 2 from 1 to 5

In [4]:
sq={x:x**2 for x in range(1,6)}
print(sq)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

Equation in range 1 to 10
equation= x^{2}+13x+9

In [6]:
eq={x:x*x+13*x+9 for x in range(1,11)}
print(eq)
#let's assume x=1
# 1*1 + 13*1 + 9 => 23

{1: 23, 2: 39, 3: 57, 4: 77, 5: 99, 6: 123, 7: 149, 8: 177, 9: 207, 10: 239}

# Defaultdict
**when value is not given it assumes as 0**

In [12]:
from collections import defaultdict

name=['Virat kholi','Dinesh Kartik','AB Devillers','Dhoni ']
grouped= defaultdict(list)

for n in name:
  grouped[n[0]].append(n)

print(dict(grouped))

{'V': ['Virat kholi'], 'D': ['Dinesh Kartik', 'Dhoni '], 'A': ['AB Devillers']}

In [23]:
movies={
    "dhurandar":"Ranvir sing",
    "Sita raman":"Dulquer Salmaan",
    "taare zameenpar":"Aamir Khan",
    "ford vs ferrari":"Christian Bale",
    "Batman":"Christian Bale",
    "PK":"AAmir khan",
    "article350":"yami gautam"
}
print(movies)

{'dhurandar': 'Ranvir sing', 'Sita raman': 'Dulquer Salmaan', 'taare zameenpar': 'Aamir Khan', 'ford vs ferrari': 'Christian Bale', 'Batman': 'Christian Bale', 'PK': 'AAmir khan', 'article350': 'yami gautam'}

In [24]:
movie=input("Enter movie : ")
if movie in movies:
  print(movies[movie])
else:
  print('not found')

Enter movie : article350
yami gautam